.login-page{
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: var(--bg-blend);
}
.login-logo{
    height: 100vw;
    max-height: 45vh;
    width: 100vw;
    max-width: 45vh;
    margin: 0 auto;
    padding-top: 18vh;
    background-image: url('../assets/logo-shadow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}